<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuexi.dailytool.FileDataTypeModelRelMapper">
  <resultMap id="BaseResultMap" type="com.xuexi.dailytool.FileDataTypeModelRel">
    <!--@mbg.generated-->
    <!--@Table file_data_type_model_rel-->
    <result column="model_id" jdbcType="INTEGER" property="modelId" />
    <result column="type_id" jdbcType="INTEGER" property="typeId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    model_id, type_id
  </sql>
  <insert id="insert" parameterType="com.xuexi.dailytool.FileDataTypeModelRel">
    <!--@mbg.generated-->
    insert into file_data_type_model_rel (model_id, type_id)
    values (#{modelId,jdbcType=INTEGER}, #{typeId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.xuexi.dailytool.FileDataTypeModelRel">
    <!--@mbg.generated-->
    insert into file_data_type_model_rel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="modelId != null">
        model_id,
      </if>
      <if test="typeId != null">
        type_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="modelId != null">
        #{modelId,jdbcType=INTEGER},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>